html {
   font-size: 80%;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Oswald", sans-serif;
   background-color: #4b5a5d;
   font-size: 2.4rem;
   text-transform: uppercase;
}

.container {
   padding-top: 18vh;
   display: grid;
   place-items: center;
}

h1 {
   color: #495055;
   font-weight: 400;
   margin-bottom: 4rem;
   font-size: 6.5rem;
}

.timer {
   position: relative;
}

.row {
   display: flex;
}

.card {
   background-color: #495055;
   min-width: 15rem;
   min-height: 15rem;
   position: relative;
   display: grid;
   place-content: center;
   overflow: hidden;
}

.card + .card {
   margin-left: 2rem;
}

h2 {
   color: #de2c5c;
   font-size: 6rem;
   z-index: 1;
}

p {
   color: #678186;
   position: absolute;
   left: -0.6rem;
   bottom: 0.3rem;
   font-weight: 400;

   writing-mode: vertical-rl;
   transform: rotate(180deg);
}

.message {
   width: 49rem;
   height: 15rem;
   background-color: #495055;
   position: absolute;
   top: 0;
   z-index: 2;
   display: grid;
   place-content: center;
   overflow: hidden;
}

.hidden {
   visibility: hidden;
}

.message__circle {
   position: absolute;
   background-color: #484d51;
   width: 250rem;
   height: 250rem;
   bottom: -235rem;
   right: -135rem;
   border-radius: 50%;
}

.card__circle {
   position: absolute;
   background-color: #484d51;
   width: 38rem;
   height: 38rem;
   bottom: -26rem;
   right: -22rem;
   border-radius: 50%;
}
